@font-path: '../fonts/';

// BODY

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://fonts.gstatic.com/s/arvo/v7/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v7/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://fonts.gstatic.com/s/arvo/v7/uO-jO7kF010hXOpU_-jk8QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v7/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url(http://fonts.gstatic.com/s/arvo/v7/xoql5UXIZh27cCiGy9pivevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/arvo/v7/ui4L3MaHUbARhH-m5bxHRevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

// HEADLINE 1 (Site, Article Titles)

@h1-filename: 'Chunkfive';

@font-face {
	font-family: '@{h1-filename}';
	src: url('@{font-path}@{h1-filename}-webfont.eot');
	src: url('@{font-path}@{h1-filename}-webfont.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}@{h1-filename}-webfont.woff') format('woff'),
	url('@{font-path}@{h1-filename}-webfont.ttf') format('truetype'),
	url('@{font-path}@{h1-filename}-webfont.svg#@{h1-filename}') format('svg');
	font-weight: normal;
	font-style: normal;
}

// HEADLINE 2 (Subheaders)

@h2-filename: 'OstrichSans';

@font-face {
	font-family: '@{h2-filename}';
	src: url('@{font-path}@{h2-filename}-webfont.eot');
	src: url('@{font-path}@{h2-filename}-webfont.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}@{h2-filename}-webfont.woff') format('woff'),
	url('@{font-path}@{h2-filename}-webfont.ttf') format('truetype'),
	url('@{font-path}@{h2-filename}-webfont.svg#@{h2-filename}') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '@{h2-filename}';
	src: url('@{font-path}@{h2-filename}-bold.eot');
	src: url('@{font-path}@{h2-filename}-bold.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}@{h2-filename}-bold.woff') format('woff'),
	url('@{font-path}@{h2-filename}-bold.ttf') format('truetype'),
	url('@{font-path}@{h2-filename}-bold.svg#@{h2-filename}') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: '@{h2-filename}';
	src: url('@{font-path}@{h2-filename}-italic.eot');
	src: url('@{font-path}@{h2-filename}-italic.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}@{h2-filename}-italic.woff') format('woff'),
	url('@{font-path}@{h2-filename}-italic.ttf') format('truetype'),
	url('@{font-path}@{h2-filename}-italic.svg#@{h2-filename}') format('svg');
	font-weight: normal;
	font-style: italic;
}