.site-header {
	position: fixed;
	z-index: @zindex-navbar;
	width: 100%;
	padding: 1em 0;
	background: @brand-primary;
	border-bottom: 1px solid @gray-lighter;
	transition: all .5s;

	.site-logo {
		display: block;
		margin: 0;
		height: 3em;
		width: 3em;
		transition: all .5s;
		path {
			fill: white;
		}
	}
	.site-title {
		margin: 0;
		font-size: @font-size-base;
		font-family: 'Playfair Display', @font-family-serif;
		font-weight: 700;
		transition: all .5s;
		a { color: white; text-decoration: none; }
	}
	.site-tagline {
		margin-top: .5em;
		color: lighten(@brand-primary, 25%);
		font-size: @font-size-small;
	}
	.search-form {
		.search-field {
			display: none;
		}
		.search-submit {
			color: @gray-light;
			background: none;
			border: none;
		}
	}
}
body.min {
	.site-header {
		background: white;
		.site-logo {
			height: 2em;
			width: 2em;
			path { fill: @gray-light; }
		}
		.site-title {
			font-size: @font-size-small;
			line-height: 3em;
			a {
				color: @gray-light;
			}
		}
		.site-tagline { display: none; }
	}
}

.site-footer {
	padding-top: 1em;
	color: @gray-light;
	border-top: 1px solid @gray-lighter;
	.static-menu {
		margin-bottom: 1em;
		font-family: @font-family-sans-serif;
	}
	.site-copyright {
		color: @gray;
		font-family: @font-family-sans-serif;
	}
}
@media screen and (min-width: @screen-xs) {
	.site-header {
		.site-title {
			font-size: @font-size-large;
		}
		.site-logo {
			height: 4em;
			width: 4em;
		}
		padding: 2em 0;
	}
	body.min .site-header {
		padding: 1em 0;
	}
}
@media screen and (min-width: @screen-md) {
	.site-header {
		.site-title {
			font-size: @font-size-large * 2;
		}
	}
}