.site-header {
	padding: 1em 0;
	border-bottom: 1px solid @gray-lighter;
	.site-logo {
		position: relative;
		left: 10px;
		max-width: 100%;
		text-align: center;
		z-index: 100;
		cursor: pointer;
	}
	.site-navigation {
		width: 100%;
		border-top: 1px solid @gray-light;

	}
	.search-form {
		.search-field {
			display: none;
		}
		.search-submit {
			color: @gray-light;
			background: none;
			border: none;
		}
	}
}

.site-footer {
	padding: 1em 0;
	color: @gray-light;
	border-top: 1px solid @gray-lighter;
	.static-menu {
		font-family: @font-family-sans-serif;
	}
	.site-copyright {
		color: @gray;
		font-family: @font-family-sans-serif;
	}
}