#front-page {
	.site-header {
		padding-bottom: 0;
	}
	.home-menu {
		margin: 1em -10px 0;
		padding: 1em 0;
		font-family: @font-family-sans-serif;
		background: white;
		z-index: @zindex-navbar;
		text-align: center;
		transition: all .25s;
	
		.menu-item {
			display: inline-block;
			float: none;
			a {
				padding: 0 10px;
				color: fade(@brand-secondary, 50%);
				font-size: 0;
				&:before { font-size: @font-size-base; }
				&:hover { color: @brand-secondary; background: transparent; }
			}
			&.active a {
				color: @brand-secondary !important;
				background: transparent;
			}
		}
	}
	&.min .home-menu {
		border-top: 1px solid @gray-lighter;
		padding: .5em 0;
	}
	.home-content {
		padding: 0;
		.tax-label { display: none; }
		.tax-name { margin-top: 0; }
		.featured {
			padding-top: 2em;
			border-bottom: 2px solid white;
		}
		.tab-pane > section {
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}
}
.home-menu {
	a:before {
		font-family: 'FontAwesome';
		margin-right: .25em;
	}
	a[title='latest']:before { content: '\f017'; }
	a[title='hot']:before { content: '\f06d'; }
	a[title='featured']:before { content: '\f005'; }
	a[title='forum']:before { content: '\f086'; }
	a[title='blog']:before { content: '\f09e'; }
	a[title='magazine']:before { content: '\f02d'; }
}

#wrap { transition: background .25s; }
#wrap.latest	{ background: fade(@brand-primary, 15%); }
#wrap.forum 	{ background: fade(@brand-info, 25%); }
#wrap.blog 		{ background: fade(@brand-success, 25%); }
#wrap.magazine 	{ background: fade(@brand-warning, 25%); }

@media screen and (min-width: @screen-xs-min) {
	#front-page {
		.home-menu {
			.menu-item {
				display: inline-block;
				a { font-size: @font-size-base; }
			}
		}
		&.min .home-menu {
			.menu-item {
				a { font-size: @font-size-small; }
			}
		}
	}
}
@media screen and (min-width: @screen-sm-min) {
	#front-page {
		.post {
			.post-title {
				margin-top: 0;
			}
		}
	}
}
@media screen and (min-width: @screen-md-min) {
	#front-page {
		.home-content {
			.featured {
				border-bottom: none;
				border-right: 2px solid white;
			}
		}
	}
}