
#sidebar {
	position: absolute;
	top: 0;
	padding: 8em 0 2em;

	color: @gray-dark;
	background: darken(white, 2%);

	ul { padding-left: 0; }
	li { list-style: none; }
	hr { border: 0; border-top: 1px solid @gray-light; }
	a { color: @brand-primary, 15%; }
	a:hover { color: @brand-primary; text-decoration: none; }

	.home-menu, .static-menu {
		padding: 1em 0 0;
		a {
			font-family: @font-family-sans-serif;
			&:hover, &:focus {
				color: lighten(@brand-primary,15%);
				text-decoration: none;
			}
			&:before {
				display: inline-block;
				width: 1.5em;
			}
		}
	}
	.static-menu a { color: @gray-light; }

	.post-link {
		margin: 0 0 .5em;
		font-size: @font-size-small;
		.post-meta, .post-meta a {
			color: @gray;
			font-family: @font-family-sans-serif;
			font-size: @font-size-small;
		}
	}
	.tax-name, .author-name {
		color: @gray-dark;
		font-size: @font-size-base;
	}
	.tax-description, .author-bio {
		font-size: @font-size-small;
		font-family: @font-family-sans-serif;
	}

}
html.no-touch #sidebar {
	position: fixed;

	height: 100vh;
	overflow-y: scroll;

	opacity: 0.25;
	transition: opacity 0.5s;
	&:hover { opacity: 1; }
}