#sidebar {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	height: 100%;
	padding-top: 5em;

	color: white;
	background: @gray-dark;

	-webkit-transform: translate(-100%, 0);
	transition: all .5s;

	&.on-canvas {
		-webkit-transform: translate(0, 0);
	}
}