#single { // Matches body#single
	.site-header {
		.site-title, .site-tagline { display: none; }
		.site-logo { max-width: 3em; }
	}
	.post {
		.single-byline {
			margin: 1em 0;
		}
		.single-lead {
			font-size: @font-size-large;
		}
		.single-content {
			line-height: 1.5;
		}		
	}
}