#single { // Matches body#single
	.site-logo { cursor: pointer; }
	.post {
		padding-top: 1em;
		.single-byline {
			margin: 1em 0;
		}
		.single-lead {
			font-size: @font-size-large;
		}
		.single-banner {
			margin: .5em auto 1em;
			height: 0;
			padding-bottom: 56.25%; // 16:9
			background: @gray-lighter center no-repeat;
			background-size: contain;
		}
		.single-content {
			padding-bottom: 5em;
			line-height: 1.5;
			max-width: 40em;

			p {

			}
			blockquote {
				font-size: @font-size-base;
				color: @gray;
			}
			.pullquote, .pullquote.left {
				font-size: @font-size-large;
				.make-md-column-offset(-3);
				.make-md-column(8);
			}
			.pullquote.right {
				.make-md-column-offset(3);
			}
		}


	}
}